:root{
   /* colors */
   --back: #191919;
   --back1: #242424;
   --back2:#750E21;
   --back3:#E3651D;

}
*{
  min-width: 0;
}
section{
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 400px;
  padding: 100px 20vw;

}
#header
{
  background-color: #242424;
}
#header .navbar-container{
  display: flex;
  /* max-height: 100px; */
  max-width: 100%;
  /* padding: 20px; */
  justify-content: space-between;
}
#header .navbar-container .logo{
  color: #750E21;
  font-size: 30px;
  margin: 20px;
}
.menu{
  display: flex;
  flex-direction: column;
  margin: 20px;
}
.menu .line1, .line2{
  background-color: #fff;
  height: 3px;
  width: 40px;
}
.menu .line1{
  top: 10px;
}
.menu .line2{
  margin-top: 10px;
}
#background {

	background:var(--back);
}

#__p__subo_ {
   

    width: 285px;
    height: 155px;
    overflow: hidden;
    font-family: Jomhuria;
    font-size: 64px;
    line-height: 148.4px;
    text-align: start;
    color:var(--back2);
}

.intro-container {
    width: 100%;
    display: flex;
    overflow: auto;
    min-height: 100vh;
    align-items: center; 
    flex-direction: column;
    padding: 40px;
    margin: 50px;
  }
  .intro-intro {
    width: 454px;
    height: 235px;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-shrink: 1;
  }
  .intro-text {
    color: var(--back3);
    width: 237px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Bold;
    text-align: left;
    font-family: Jura;
    font-weight: 700;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .intro-text2 {
    top: 38px;
    color: var(--back3);
    width: 1000px;
    height: auto;
    position: absolute;
    font-size: 96px;
    font-style: Regular;
    text-align: left;
    font-family: Jomhuria;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .intro-text4 {
    top: 160px;
    color: var(--back2);
    width: 454px;
    height: auto;
    position: absolute;
    font-size: 24px;
    font-style: Regular;
    text-align: left;
    font-family: Jost;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
  .intro-text6 {
    top: 200px;
    color: rgba(189, 182, 182, 1);
    width: 445px;
    height: auto;
    position: absolute;
    font-size: 20px;
    font-style: Regular;
    text-align: left;
    font-family: Jost;
    font-weight: 400;
    line-height: normal;
    font-stretch: normal;
    text-decoration: none;
  }
